
  .header{
    padding: 15px;
    margin-bottom: 60px;
    height: 20px;
  }
  .calendar{
    float: right;
    width: 100%;
    font-size: 20px;
    display: flex;
  }
  .date{
    float: right;
    padding-left: 15px;
    padding-top: 5px;
    color: white;
    font-weight: 200;
  }
 .icone{
    font-size: 40px;
    color: white;
 }
 .container{
    background-color: red;
    width: 20%;
 }
 .tab{
    background-color: rgb(4, 111, 205);
    padding: auto;
    color: white;
 }
 .refresh{
    float: right;
    display: flex;
    width: 400px;
    padding-top: 8px;
    right: inherit;

 }
 td{
    padding-left: 15px;
    border: 1px solid rgb(245, 242, 242);
    margin: 1px 1px auto;
   }

 td.i
 {
    padding-left: 4px;
}