<br>
<br>
<div class="container mt-20 pt-7">
  <div class="row bg-primary d-flex justify-content-between">
    <h1><mat-icon>assignment</mat-icon>Observation Patient</h1>
  </div>
  <table class="table table-responsive-sm">
    <thead class="table-primary">

    </thead>
    <tbody class="table-fluid table-bordered table-warning align-items-center">
      <tr>
        <th>Nom Du Patient</th>
        <td>{{userDetails.firstName}}</td>
        <th>Genre:</th>
        <td> {{userDetails.gender}} </td>
        <th> Age :</th>
        <td>{{userDetails.department}} ans</td>
      </tr>
      <tr>
        <th>CNI</th>
        <td>{{userDetails.cni}}</td>
        <th>DOCTEUR:</th>
        <td>{{userDetails.docteur}}</td>
        <th>MOTIF</th>
        <td>{{userDetails.profession}}</td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td>{{userDetails.phone}}</td>
        <th>Email</th>
        <td>{{userDetails.email}}</td>
        <th>Date d'Admission</th>
        <td>{{userDetails.date | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>


<form [formGroup]="nurseForm" class="form form-responsive mb-10">
  <div class="container">
    <div class="row bg-primary mb-15">
      <h1><mat-icon>assignment</mat-icon>Liste des Patients</h1>
    </div> <br> <br>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Taille</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Conjonctives</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Status Matrimonial</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Poids</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Hauteur du Cou:</span>
          <input type="number" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Poids nais:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">IMC</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Rythme</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Circ. Crane:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Temp:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">SPO2:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">circ.Scapulaire:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Systole:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">F. resp:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Cir. Poitrine</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Diastole:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Glycemie:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Circ. Hanche</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Poul</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">G. Sang</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Circ. Brachiale</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Allergies</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Habitudes</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col-md-2">
        <h4>type d'allergies</h4>
      </div>
      <div class="col-md-2">
        Description
      </div>
      <div class="col-md-2">
        Allergie Severité
      </div>
      <div class="col-md-2">
        Réaction allergique
      </div>
      <div class="col-md-2">
        Date
      </div>
      <div class="col-md-2">
        Action
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-small">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-small">ALcool</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Quantité/jour</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Tabacc</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Nombre De cigarette</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">HML</span>
          <textarea class="formControl" id="" cols="63" rows="2"></textarea>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">H.Ch</span>
          <textarea class="formControl" id="" cols="63" rows="2"></textarea>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">MEC</span>
          <textarea class="formControl" id="" cols="63" rows="2"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">ObsI</span>
          <textarea class="formControl" id="" cols="63" rows="2"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">NOTES</span>
          <textarea class="formControl" id="" cols="140" rows="3" placeholder="plaintes patient"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="Pas de Douleur"></mat-radio-button>
          <mat-radio-button value="Legère"></mat-radio-button>
          <mat-radio-button value="Legère"></mat-radio-button>
          <mat-radio-button value="legère"></mat-radio-button>
          <mat-radio-button value="Moderée"></mat-radio-button>
          <mat-radio-button value="Modérée"></mat-radio-button>
          <mat-radio-button value="sévère"></mat-radio-button>
          <mat-radio-button value="très Sévère"></mat-radio-button>
          <mat-radio-button value="très Sévère"></mat-radio-button>
          <mat-radio-button value="très Sévère"></mat-radio-button>
          <mat-radio-button value="aigue"></mat-radio-button>
        </mat-radio-group>

        <figure>
          <img src="./assets/download.png" alt="pain scale">
        </figure>
        <br>
        <section>
          <div class="example-label">ACTION</div>
          <div class="example-button-row">
            <button mat-raised-button style="background-color:green">ROS</button>
            <button mat-raised-button style="background-color: rgb(3, 210, 168)">MFS</button>
            <button mat-raised-button style="background-color:rgb(0, 199, 0)">SIgnes Vitaux Precédent</button>
            <button mat-raised-button style="background-color:rgb(155, 253, 155)">Save</button>
            <a mat-raised-button style="background-color:rgba(232, 247, 247, 0.907)">Cancel</a>
          </div>
        </section>

      </div>
    </div>
  </div>
</form>
<br>

<div class="container mt-10">
  <div class="row bg-primary d-flex justify-content-between">
    <h1>Observation Patient</h1>
  </div>
  <div class="row">
    <div class="col">
      Date
    </div>
    <div class="col">
      Time
    </div>
    <div class="col">
      Temp
    </div>
    <div class="col">
      pool
    </div>
    <div class="col">
      Systole
    </div>
    <div class="col">
      Diastole
    </div>
    <div class="col">
      Respiration
    </div>
    <div class="col">
      SPO2
    </div>
    <div class="col">
      N.Conscience
    </div>
    <div class="col">
      Douleur
    </div>
    <div class="col">
      Obs Infirmier
    </div>
    <div class="col">
      Action
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
      <input style= "max-width: 130%;" type="date" id="" class="formControl">
    </div>
    <div class="col-sm-1">
      <input style="max-width: 135%;" type="time" class="formControl" name="" id="time">
    </div>
    <div class="col-sm-1">
      <input style="max-width: 75%;" type="number" name="" id="">
    </div>
    <div class="col-sm-1">
      <input style="max-width: 75%;" type="number" name="" id="">
    </div>
    <div class="col-sm-1">
      <input style="max-width: 75%;" type="number" name="" id="">
    </div>
    <div  class="col-sm-1">
      <input style="max-width: 75%;" type="number" name="" id="">
    </div>
    <div  class="col-sm-1">
      <input style="max-width: 75%;" type="number" name="" id="">
    </div>
    <div class="col-sm-1">
      <input style="max-width: 75%;" style="max-width: 50%;" type="number" name="" id="">
    </div>
    <div class="col-sm-1">
      <input style="max-width: 75%;" type="number" name="" id="">
    </div>
    <div class="col-sm-1">
      <input style="max-width: 75%;" type="number" name="" id="">
    </div>
    <div class="col-sm-1">
      <input style="max-width: 75%;" type="number" name="" id="">
    </div>
    <div class="col-sm-1">
      <button class="btn btn-primary">ADD</button>
    </div>
  </div>

</div>
<br>
<div class="container mt-10">
  <div class="row bg-primary">
    <H1>List des Observations</H1>
  </div>
  <div class="row">
    <div class="col">
      Date
    </div>
    <div class="col">
      Time
    </div>
    <div class="col">
      Temp
    </div>
    <div class="col">
      pool
    </div>
    <div class="col">
      Systole
    </div>
    <div class="col">
      Diastole
    </div>
    <div class="col">
      Respiration
    </div>
    <div class="col">
      SPO2
    </div>
    <div class="col">
      N.Conscience
    </div>
    <div class="col">
      Douleur
    </div>
    <div class="col">
      Obs Infirmier
    </div>
    <div class="col">
      Option
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-1">
    </div>
    <div  class="col-sm-1">
    </div>
    <div  class="col-sm-1">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-1">
    </div>
  </div>

</div>