/* You can add global styles to this file, and also import other style files */

body{        
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: darkblue;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 100%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 12px;
    display: inline-block;
}

body {font-family: Roboto, "Helvetica Neue", sans-serif; padding: 0; }
